<!--The content below is only a placeholder and can be replaced.-->
<div [ngStyle]="{
  'background': config.fondo
}">
    <div style="text-align:center">
        <h1>
          ¡Bienvenido a {{ title }}!
        </h1>
        <h3>{{descripcion}}</h3>
      </div>
      <div>
        <button (click)="ocultarVideojuegos(false)" *ngIf="mostrar">Ocultar</button>
        <button (click)="ocultarVideojuegos(true)" *ngIf="!mostrar">Mostrar</button>
      
        <videojuego *ngIf="mostrar"></videojuego>
        <tennis></tennis>
        <app-cursos></app-cursos>
      </div>
</div>
