<h2>Página principal</h2>

<!-- en un div o ng-container ponemos la condición -->
<div *ngIf="identificado; then siIdentificado; else noIdentificado"></div>

<ng-template #siIdentificado>
    <h3>Estas identificado en la app</h3>
    <button (click)="unsetIdentificado()">Borrar identificación</button>
</ng-template>

<!-- # nos sirve para crear una variable en la plantilla -->
<ng-template #noIdentificado>
    <h3>No estas identificado, pulsa el botón para identificarte</h3>
    <button (click)="setIdentificado()">Identificar</button>
</ng-template>

